*{
    margin: 0;
    padding: 0;
}
body{
    background-color: bisque;
    text-align: center;
}
#imagem-principal{
    width: 100%;
}
p{
    font-size: 20px;
}
#comandos{
    font-size: 20px;
    font-weight: bolder;
    background-color: beige;
    padding: 20px;
}
.link{
    margin: 10px 20px;
}
.estoque{
    font-size: 50px;
    background-color: beige;
    padding: 30px;
    margin: 20px 0px 20px 0px;
}
.tabela{
    margin: 0% 15%;
}
th{
    font-size: 30px;
    background-color: blanchedalmond;
}
td{
    font-size: 20px;
}
.imagens{
    height: 300px;
}
#final{
    text-align: center;
    background-color: beige;
    margin: 300px 0px 0px 0px;
    width: 100%;
}
.imagem-rede{
    height: 50px;
}