*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/img/original.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-image: url(/img/bg.jpg);
    width: 100%;
    text-align: center;
}
h1{
    text-align: start;
    padding: 10px;
    margin-left: 40px;
}
nav{
    position: absolute;
    top: 90px;
    right: 200px;

}
nav li{
    display: inline;
    margin: 0 0 10px 30px;
    position: relative;
    
}
nav li:hover{
    text-decoration: underline;
}
nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration:none;
}
h2{
    background-color: ghostwhite;
    border-radius: 20px;
    text-align: center;
    font-size: 40px;
    margin: 40px;
    text-decoration: underline;
    text-transform: uppercase;   
}
#label{
    font-size: 19px;
    font-weight: bold;
    text-decoration: underline;
    text-transform: uppercase;
    text-decoration-color: ghostwhite;
    color: ghostwhite;
}
.form{
    display: block;
    margin-left: 30%;
}
#nome {
    padding: 4px 150px;
    text-align: start;
    border-radius: 10px;    
}
#email{
    padding: 4px 150px;
    border-radius: 10px;
}
#mensagem{
    width: 470px;
    height: 80px;
    border-radius: 10px;
}
.botao{
    margin-left: 30%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 10px;
}
.botao:hover{
    color: brown;
}

footer{
    text-align: center;
    padding: 40px 0;
    background-image: url(/img/bg.jpg);
    color: white;
    width: 100%;
    margin-top: 220px;
}
.redes{
    margin: 15px 0 15px 15px;
    padding: 30px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.redes:hover{
    text-decoration: underline;
    color: #C78C19;
}
.p-footer{
    margin-top: 30px;
    font-size: 10px;
}