*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(/img/pergaminho\ .jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
header{
    background-image: url(/img/bg.jpg);
    width: 100%;
    text-align: center;
}
h1{
    text-align: start;
    padding: 10px;
    margin-left: 40px;
}
nav{
    position: absolute;
    top: 90px;
    right: 200px;

}
nav li{
    display: inline;
    margin: 0 0 10px 30px;
    position: relative;
    
}
nav li:hover{
    text-decoration: underline;
}
nav a{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 22px;
    text-decoration:none;
}
main{
    text-align: center;
}
h2{
    text-align: center;
    font-size: 44px;
    margin: 50px 0px ;
}
.imagem{
    height: 500px;
}
.texto{
    background-color: blanchedalmond;
    padding: 30px;
    margin: 50px 450px 300px;
}
.legenda{
    font-size: 22px;
    margin: 10px;
}
h3{
    font-size: 25px;
    margin-top: 40px;
}
.tu{
    font-size: 22px;
    margin-top: 20px;
}
footer{
    text-align: center;
    padding: 40px 0;
    background-image: url(/img/bg.jpg);
    color: white;
    width: 100%;
    position: fixed;
    bottom: 0;
}
.redes{
    margin: 15px 0 15px 15px;
    padding: 30px;
    font-size: 20px;
    text-decoration: none;
    color: white;
}
.redes:hover{
    text-decoration: underline;
    color: #C78C19;
}
.p-footer{
    margin-top: 30px;
    font-size: 10px;
}